#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

body {
  color: black;
  background-color: #f5dcd3;
}

h1, caption {
  text-align: center;
  padding: 8px;
}

h1, h2, h3, h4, h5, h6, caption {
  color: #cf7474;
  font-family: Georgia, serif;
}

p {
  font-family: Georgia, serif;
}

table, tr, th, td {
  border: 1px solid gray;
  padding: 8px 15px;
}

th {
  background-color: #c2978f;
}

tr:nth-child(even) {
  background-color: #e3c4bf;
}

.collapse {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Georgia, serif;
}

.columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 250px;
  padding: 1rem;
}

form {
  display: inline-block;
  text-align: left;
}

button {
  padding: 8px 20px;
  border-radius: 5px;
  font-family: Georgia, serif;
  background-color: #c2978f;
  cursor: pointer;
  border: none;
  font-size: 14px;
  color: white;
  margin: auto;
  display: block;
}

button:hover {
  background-color: #ab8078;
}

.image-container {
  width: 640px;
  height: 360px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;

}

.image-container img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.hobby-text {
  text-align: center;
  max-width: 80%;
}
